.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body, body>div, .app {
  background-color: rgb(236, 243, 236);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.welcome-card {
  width: 40%;
  margin-top: 14%;
}

.form-card {
  width: 30%;
  margin-top: 4%;
}

.top-card {
  text-align: center;
  width: 76%;
  margin-top: 2%;
}

.g-pt-90 {
  padding-top: 17rem !important;
}

.order-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar {
  margin-bottom: 20px !important;
  margin-right: 5% !important;
  margin-left: 5% !important;
  font-weight: bold;
  font-size: medium;
}

.nav.pills, .nav-link.active {
  background-color: rgb(185, 185, 185) !important;
}